.title {
  color: white;
  background-color: rgb(23, 23, 23);
  padding: 1rem;
}

.card {
  background-color: rgb(23, 23, 23);
}

.card-title {
  color: white;
}

.card-body {
  background-color: black;
  margin: 1rem;
  border-radius: 5px;
}

.form-div {
  background-color: rgb(23, 23, 23);
  padding: 2rem;
  border-radius: 10px;
}

.form-title {
  color: white;
}